matplotlib==3.6.0
mediapipe==0.9.1.0
numpy==1.23.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
pandas==1.5.0
Pillow==9.2.0
pytz==2022.7
PyYAML==6.0
tensorboard==2.11.0
torch==1.13.1
torchvision==0.14.1
dlib=19.24.4